* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html {
font-size: 62.5%;
}

.welcome{
    /* background: linear-gradient(purple, cyan); */
    background-image: url("https://images.pexels.com/photos/3473569/pexels-photo-3473569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.nav{
    font-size: 2.0rem;

}


.welcome-main{
    align-content: center;
    text-align: center;
    height: 30vh;
    width: 100vw;
    
}
.welcome-main-subtittle{
    font-size: 3.0rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.welcome-main-tittle{
    font-size: 6.0rem;
}
li{
    cursor: pointer;
    list-style: none;
}
/* ------ tables ------- */
/* ------ clients && admin ----- */
.soy{
    color: white;
    font-size: 3.0rem;
    position: absolute;
    margin: 1.2rem;

}
.user{
    height: 100vh;
/*     padding-top: 5.5rem; */
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;

}
.user-client-box, .user-admin-box{
    display: flex;
    width: 40vw;
    height: 40vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* .user-client-box{
    background-image: url("/assets/6.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.user-admin-box{
    background-image: url("/assets/5.png");
    background-size: contain;
    background-repeat: no-repeat;

} */

.user-client-box-input, .user-admin-box-input{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.5rem;
    justify-content: center;
    
}
.user-client-box-consult, .user-admin-box-consult{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    font-size: 2.0rem;
    
}
.btn{
    margin: 0.4rem;
    width: 10.0rem;
    margin-bottom: 0.3rem;
    font-size: 1.6rem;
}

/* ---- category && farm && reserv ---- */
.info-reserv{
    background-color: black;
    color: white;
    font-size: 4.5rem;
    text-align: center;
}
.reserv{
    display: flex;
    padding-top: 5vh;
    padding-bottom: 2.5rem;
    justify-content: space-around;
    background-color: black;
}
.reserv-box{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.reserv-box-main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    color: white;
    font-size: 1.6rem;
    height: 50vh;
}
.reserv-box-main-blank{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-blank-get{
    background-color: whithe;
}

.reserv-box-create{
    background-color: white;
    color: balck;
    font-size: 2.0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}
.form-control, .form-select, .form-check-input{
    margin-left: 0.5rem;
}
/* ------ Feedback --------- */
.msj{
    padding-top: 5.0rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding-bottom: 5.0rem;
}
.msj-form{
    display: flex;
    align-items: center;
}
#textMessage{
    width: 50vw;
    height: 10vh;
}
/* ----- stadistics -----  */
.stadistics{
    padding-top: 5vw;
}
.stadistics-tittle{
    font-size: 4.0rem;
    text-align: center;
}
.stadistics-cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;    
}
.card{
    width: 70rem;
    height: 20rem;
    font-size: 1.8rem;
}
.card-tittle{
    font-size: 2.0rem;
}
/* ----- footer ------ */
footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 2.0rem;
}